.SupplierContact-container {
  border-radius: 2rem;
  padding: 0.7rem;
}
.SupplierContact-ctas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.SupplierContact-details {
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SupplierContact-details ion-text {
  margin-left: 0.5rem;
}
.SupplierContact-call {
  width: 4rem;
  height: 4rem;
}